* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Tiro Gurmukhi", serif;
}
#webGL {
  vertical-align: bottom;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  & ul li {
    display: inline-block;
    margin: 0 20px;
  }
  & a {
    text-decoration: none;
  }
}
main{
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%,-50%);
}